extends ../layout.jade

block append title
    | :: #{bracket.name}

block content
    h2= bracket.name
    .bracket
        each round in bracket.rounds
            .round
                each match in round.matches
                    div(class="match-group match-group-#{ round.matches.length }")
                        ul.match
                            each competitor in match.competitors
                                li.competitor
                                    a.name= competitor.name
                                    span.result= "--"